.container {
  display: flex;
  width: 95%;
  margin: auto;
  color: #1b1d1c;
}

.user {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px;
}

h3 {
  margin-bottom: 10px;
}

.table {
  display: flex;
  flex-direction: column;
  font-size: large;
}

.table-body {
  -webkit-flex: 1 1 auto;
  overflow-y: auto;
  height: 250px;
}

.row {
  display: flex;
  height: 25px;
}

.striped {
  background-color: lightcyan;
}

.column-id {
  width: 10%;
}

.column-title {
  width: 90%;
}
